#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

pkg := clfswm
debpkg := $(pkg)

clc-source := usr/share/common-lisp/source
clc-files := $(clc-source)/$(pkg)

%:
	dh $@ 

override_dh_auto_configure:

override_dh_installman: clfswm.1
	dh_installman clfswm.1

clfswm.1: clfswm.1.txt
	a2x -f manpage clfswm.1.txt

override_dh_fixperms:
	chmod -x debian/$(debpkg)/$(clc-files)/contrib/server/test.lisp
	dh_fixperms
